html, body {
  margin: 0 auto;
  max-width: 40em;
  max-height: 100%;
  width: 100%;
  background-color: rgb(220, 208, 188);
}

h1 {
  font-family: 'Avenir', 'sans-serif';
  font-weight: bolder;
}

.container {
  max-width: 100%;
  margin: 36px 0;
  padding: 16px 36px 0px 16px;
  font-family: 'Avenir', 'sans-serif';
  background-color: #fff;
  border-radius: 12px;
}

#notice {
  font-weight: bold;
}

.notice-style {
  height: 18px;
  padding: 16px 0;
}


